<section class="profile-main-container">
    <div class="user-name-img">
        <span>
            <img class="profile" [src]="userProfileImage" alt="no image" />
        </span>
        <span class="user-name">
            {{appLevelConstant.USER_NAME}}
        </span>
    </div>
    <div class="follower-details">
        <span class="post-label">
            <span> 180 </span>
            <span class="post-text">{{appLevelConstant.POST}}</span>
        </span>
        <span class="post-label">
            <span> 10 </span>
            <span class="post-text">{{appLevelConstant.FOLLOWERS}}</span>
        </span>
        <span class="post-label">
            <span> 111 </span>
            <span class="post-text">{{appLevelConstant.FOLLOWING}}</span>
        </span>
    </div>
</section>